<div class="countdown-timer">
    <div class="timer-container">
      <div class="timer-box">
        <span class="timer-label">DAY</span>
        <span class="timer-value">{{ days }}</span>

      </div>
      <div class="timer-box">
        <span class="timer-label">HOUR</span>
        <span class="timer-value">{{ hours }}</span>
      </div>

      <div class="timer-box">
        <span class="timer-label">MINUTE</span>
        <span class="timer-value">{{ minutes }}</span>
      </div>

      <div class="timer-box">
        <span class="timer-label">SECOND</span>
        <span class="timer-value">{{ seconds }}</span>
      </div>
    </div>
    
    <div class="event-name">VERCOME2022</div>
    <div class="event-message">HAPPYNEWYEAR</div>
  </div>